<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-title">
                <h3>DRC Facility Flux Map</h3>
                <span style="margin-left:10px; margin-right: 0;">for z-index =</span>
                <select class="" [(ngModel)]="zIndex">
                    <option *ngFor="#item of availableZIndexes" [value]="item">
                        {{item}}
                    </option>
                </select>
                <span class="panel-tools pull-right">
                    <a class="btn" (click)="toggleFullscreen()">Fullscreen</a>
                </span>
            </div>
            
            <div class="panel-body">
                    <!-- Flux Map Gets loaded here -->
                    <div id="fluxmap"></div>
                    <!-- /Flux Map Gets loaded here -->
            </div>
        </div>
    </div>
</div>