<div class="row">
    
    <!-- Current Conditions Panel -->
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-title">
                <h3>Current Building Conditions</h3>
            </div>
            <div class="panel-body">
                
                <div class="row">
                    <div class="col-md-5">
                        <div class="cur-temp">
                            <span class="cur-temp-val">{{currentConditions.temperature}}</span>
                            <span class="cur-temp-unit">°F</span>
                        </div>
                    </div>
                    
                    <div class="col-md-7 sensor-data">
                        <!-- Data row 0 -->
                        <div class="row data-row">
                            <div class="col-md-5 data-title">
                                Humidity:
                            </div>
                            <div class="col-md-7">
                                <span class="data-value">{{currentConditions.humidity}}</span>
                                <span class="data-unit">% </span>
                            </div>
                        </div>
                        
                        <!-- Data row 1 -->
                        <div class="row data-row">
                            <div class="col-md-5 data-title">
                                Pressure:
                            </div>
                            <div class="col-md-7">
                                <span class="data-value"> {{currentConditions.pressure}} </span>
                                <span class="data-unit"> hPa </span>
                            </div>
                        </div>
                        
                        <!-- Data row 2 -->
                        <div class="row data-row">
                            <div class="col-md-5 data-title">
                                Dew Point:
                            </div>
                            <div class="col-md-7">
                                <span class="data-value"> {{currentConditions.dewpoint}} </span>
                                <span class="data-unit"> °F </span>
                            </div>
                        </div>
                        
                        <!-- Data row 3 -->
                        <div class="row data-row">
                            <div class="col-md-5 data-title">
                                Carbon Dioxide:
                            </div>
                            <div class="col-md-7">
                                <span class="data-value"> -- -- </span>
                                <span class="data-unit"> ppm </span>
                            </div>
                        </div>
                        
                        <!-- Data row 4 -->
                        <div class="row data-row">
                            <div class="col-md-5 data-title">
                                Light Intensity:
                            </div>
                            <div class="col-md-7">
                                <span class="data-value"> {{currentConditions.lightIntensity}} </span>
                                <span class="data-unit"> lux </span>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- /Current Conditions Panel -->
    
    <!-- Table -->
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-title">
                <h3>Today's Extremes</h3>
            </div>
            <div class="panel-body">
                <table class="extr-table table table-bordered table-condensed table-responsive">
                    <tr>
                        <td></td>
                        <td style="font-weight: 700;">
                            High
                        </td>
                        <td style="font-weight: 700;">
                            Low
                        </td>
                        <td style="font-weight: 700;">Average</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 700;">Temperature</td>
                        <td class="high">
                            {{extremes.maximums.temperature}} °F
                        </td>
                        <td class="low">
                            {{extremes.minimums.temperature}} °F
                        </td>
                        <td>{{extremes.averages.temperature}} °F</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 700;">Humidity</td>
                        <td class="high">
                            {{extremes.maximums.humidity}} %
                        </td>
                        <td class="low">
                            {{extremes.minimums.humidity}} %
                        </td>
                        <td>{{extremes.avarages.humidity}} %</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 700;">Pressure</td>
                        <td class="high">
                            {{extremes.maximums.pressure}} ppm
                        </td>
                        <td class="low">
                            {{extremes.minimums.pressure}} ppm
                        </td>
                        <td>{{extremes.averages.pressure}} ppm</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- /Table -->
</div>

<div class="row">
    
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-title">
                        <h3>Current Comfort Index</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="gauge-title">Temperature/Humidity Index</h5>
                                <d3-gauge [value]="gaugeData.tempHumGauge" [config]="gaugeConfig"></d3-gauge>
                            </div>
                            <div class="col-md-6">
                                <h5 class="gauge-title">Ventilation Index</h5>
                                <d3-gauge [value]="gaugeData.lightGauge" [config]="gaugeConfig"></d3-gauge>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-7">
        <div class="panel">
            <div class="panel-title">
                <h3>Conditions History Graph</h3>
                <span style="margin-left:10px; margin-right: 0;">for</span>
                <select class="" [(ngModel)]="selectedItem">
                    <option *ngFor="#item of itemsToSelect" [value]="item">
                        {{item}}
                    </option>
                </select>
            </div>
            <div class="panel-body">
                <chartist-linechart [data]="chartData" [chartClass]="'ct-major-twelfth'"></chartist-linechart>
            </div>
        </div>
    </div>
</div>