<p class="pull-right date">September 21st, 2016 5:45 PM</p>

<div class="main-wrapper">
        <div class="row">
        <div class="col-md-8">
            <a href=""><div class="tile">
                <h3 class="header">Flux Mapping</h3>   
            </div></a>
        </div>
        <div class="col-md-4">
            <a href=""><div class="tile">
                <h3 class="header">Current Weather</h3>   
            </div></a>
        </div>
    </div>

    <div class="row row-pad">   
        <div class="col-md-6">
            <a href=""><div class="tile">
                <h3 class="header">Charts</h3>   
            </div></a>
        </div>
        <div class="col-md-6">
            <a href=""><div class="tile">
                <h3 class="header">Performance</h3>   
            </div></a>
        </div>
    </div>

    <div class="row row-pad">
        <div class="col-md-4">
            <a href=""><div class="tile">
                <h3 class="header">Floor Plan</h3>   
            </div></a>
        </div>
        <div class="col-md-4">
            <a href=""><div class="tile">
                <h3 class="header">Historical Data</h3>   
            </div></a>
        </div>
        <div class="col-md-4">
            <a href=""><div class="tile">
                <h3 class="header">Settings</h3>
                <i class="material-icons">settings</i>   
            </div></a>
        </div>
    </div>
</div>