/***
* Table of Contents:
*
*
*
***/

/* =================================================================
**               Section: Temperature Value Styles
*===================================================================*/
.cur-temp {
    margin-left: 40px;
    color: #71bc3c;
    font-weight: 700;
}

.cur-temp .cur-temp-val {
    font-size: 72px;
}

.cur-temp .cur-temp-unit {
    font-size: 48px;
    vertical-align: super;
    line-height: 75px;
    padding-left: 10px;
}

/* =================================================================
**               Section: Sensor Data Styles
*===================================================================*/

.sensor-data {
    padding: 7px 20px;
    font-family: 'Lato', sans-serif;
}

.sensor-data .data-row {
    margin-top: 5px;
}

.sensor-data .data-row .data-title {
    font-size: 16px;
}

.sensor-data .data-row .data-value {
    font-size: 14px;
    font-weight: 700;
}

.sensor-data .data-row .data-unit {
    font-size: 14px;
}

/* Guage Styles */
#power-gauge g.arc {
    fill: steelblue;
}

#power-gauge g.pointer {
    fill: #e85116;
    stroke: #b64011;
}

#power-gauge g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #666;
}