/***************************************************************
** Section: Navbar Styles
****************************************************************/
#navbar-wrapper {
    min-height: 50px;
    width: 100%;
    z-index: 999;
    background: #28A1D6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    color: #fff;
    padding: 0;
    margin: 0;
}

a.navbar-brand {
    color: #fff;
}

a.navbar-brand:hover {
    color: #fff;
}

a.navbar-brand:active {
    color: #fff;
}

#navbar-wrapper ul {
    margin-left: 15px;
    padding-top: 10px;
}

#navbar-wrapper ul li a {
    padding: 8px 10px;
    margin: 0 10px;
    margin-bottom: 1px;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
}

#navbar-wrapper ul li a:hover {
    padding: 8px 10px;
    margin: 0 10px;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
}

#navbar-wrapper ul li a:active, #navbar-wrapper ul li a.active {
    padding: 8px 10px;
    margin: 0 10px;
    margin-bottom: 1px;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    border-bottom: solid 4px #FF4081;
}

/***************************************************************
** Section: Page content area
****************************************************************/

#page-wrapper {
    height: 100%;
    padding-top: 25px;
}

#navbar-wrapper .bottom h2 {
    margin: 0;
    padding: 30px;
}