/* Add index.html css here */

body {
    margin: 0;
    padding: 0;
    background: #F4F5F9;
    color: #4C4C4C;
    font-family: 'Raleway', sans-serif;
}

/******************************************************
** Global Styles for Theme
******************************************************/

/* Panels */
.panel {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 5px;
    position: relative;
    display: block;
}

.panel-title {
    padding: 0 10px;
    border-bottom: solid 1px #e7ecf1;
}

.panel-title h3 {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}

.panel-title .subtitle {
    color: #379AC5;
}

.panel-tools {
    padding: 12px 0;
}

.panel-body {
    padding: 15px;
    width: 100%;
    position: relative;
}

/*************************************************************************
** Styles for Chartist Charts
**************************************************************************/

.ct-golden-section {
    display: block;
    position: relative;
    width: 100%;
}